.table tbody tr td.schedule-break {
	border-top: 2px solid #ddd; 
	border-bottom: 2px solid #ddd; 
	padding: 4px;
}

.table tbody tr td.unit {
	background-color: #fff;
	border-right: 2px solid #ddd;
	text-align: right;
	width: 175px;
	vertical-align: middle;
}